body {
  margin:40px auto;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
}

.container {
  padding: 10px 20px 0 310px;
}

h1, h2, h3, h4 {
  line-height: 1.2;
}

a {
  color: #1a9983;
  text-decoration: none;
}

a:hover {
  color: #777;
}

.sidebar {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #EEE;
  overflow-x: hidden;
  padding: 40px 20px 0 20px;
}

.page-header {
  padding-bottom: 10px;
}

.project {
  padding-bottom: 10px;
}

.bold {
  font-weight: bold;
  padding-right: 5px;
}
