body {
  min-width: 360px;
  line-height: 1.6;
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 20px;
  color: #444;
}

.container {
  padding: 60px 100px 60px 100px;
}

@media (max-width: 990px) {
  .container {
    padding: 40px 60px 40px 60px;
  }
}

a {
  color: #1a9983;
  text-decoration: none;
}

a:hover {
  color: #777;
  text-decoration: none;
}

.navbar {
  background-color: #f1f1f1;
  padding-left: 80px;
  padding-right: 80px;
}

@media (max-width: 600px) {
  .navbar {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.navbar-brand {
  font-size: 1.8em;
  padding-right: 20px;
}

.navbar ul > a {
  padding: 0 20px 0 20px;
}

nav a {
  color: #1a9983 !important;
}

nav a:hover {
  color: #777 !important;
}

.collapsing, .show {
  padding: 20px 0 10px 20px;
}

.selfie {
  border-radius: 50%;
  margin-bottom: 30px;
}

.page-header {
  padding-bottom: 10px;
}

.project {
  padding-bottom: 10px;
}

.bold {
  font-weight: bold;
  padding-right: 5px;
}
