<div class="sidebar">
  <img class="selfie" src="{{ site.baseurl }}/public/selfie_100x100.jpg" alt="selfie"/>
  <a href="{{ site.baseurl }}/"><h1>Daryl Smith</h1></a>
  <br />
  <a href="{{ site.baseurl }}/projects"><h3>Projects</h3></a>
  <a href="{{ site.baseurl }}/about"><h3>About Me</h3></a>
  <a href="{{ site.baseurl }}/resume"><h3>Resume</h3></a>
  <br />
  <a href="https://github.com/dschmaryl"><h3>GitHub</h3></a>
  <a href="https://www.linkedin.com/in/dschmaryl/"><h3>LinkedIn</h3></a>
</div>
