*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
input,
textarea {
  margin: 0;
  color: #8b8b8b;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: 400;
  line-height: 1.75em;
}

body {
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  -moz-transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  -webkit-transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  -ms-transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: #777;
  text-decoration: none;
}

a:hover {
  border-bottom-color: transparent;
  color: #499abf !important;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #777;
  font-weight: 400;
  line-height: 1em;
  margin: 0 0 0.8em 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}
h1 {
  font-size: 2em;
  line-height: 1.5em;
}
h2 {
  font-size: 1.5em;
  line-height: 1.5em;
}
h3 {
  font-size: 1.25em;
  line-height: 1.5em;
}
h4 {
  font-size: 1.1em;
  line-height: 1.5em;
}
h5 {
  font-size: 0.9em;
  line-height: 1.5em;
}
h6 {
  font-size: 0.7em;
  line-height: 1.5em;
}

.image {
  border-radius: 0.35em;
  border: 0;
  display: inline-block;
  position: relative;
}

.image.thumb:after {
  -moz-transition: opacity 0.15s ease-in-out;
  -webkit-transition: opacity 0.15s ease-in-out;
  -ms-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
  background: #499abf;
  border-radius: 0.35em;
  color: #fff;
  /* content: 'View on Github'; */
  display: inline-block;
  font-size: 0.8em;
  font-weight: 400;
  left: 44%;
  line-height: 2.25em;
  margin: -1.25em 0 0 -4.5em;
  opacity: 0;
  padding: 0 1.5em;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 50%;
  white-space: nowrap;
}

.image.thumb.github:after {
  content: 'View project on Github';
}

.image.thumb.playstore:after {
  content: 'View app on Play store';
}

.image.thumb:hover:after {
  opacity: 1;
}

.image img {
  border-radius: 0.35em;
  display: block;
}

.image.avatar {
  border-radius: 100%;
}

.image.avatar:before {
  display: none;
}

.image.avatar img {
  border-radius: 100%;
  width: 100%;
}

#sidebar {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: -moz-flex-end;
  -webkit-align-items: -webkit-flex-end;
  -ms-align-items: -ms-flex-end;
  align-items: flex-end;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  /* background-color: #1f1815; */
  /* background-color: #333333; */
  background-attachment: fixed;
  /* background-image: url('../images/bg.jpg'); */
  background-position: top left, top left;
  background-repeat: repeat, no-repeat;
  background-size: auto, auto 100%;
  color: rgba(255, 255, 255, 0.5);
  height: 100%;
  left: 0;
  padding: 6em 3em 3em 3em;
  position: fixed;
  text-align: right;
  top: 0;
  width: 30%;
  min-width: 324px;
}

#sidebar > * {
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  width: 100%;
}

#sidebar > .inner {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  margin: 0 0 2em 0;
}

#sidebar strong,
#sidebar b {
  color: #ffffff;
  font-weight: 400;
}

#sidebar h2,
#sidebar h3,
#sidebar h4,
#sidebar h5,
#sidebar h6 {
  color: #ffffff;
}

#sidebar h1 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
  line-height: 1.75em;
  margin: 0;
}

#sidebar .image.avatar {
  margin: 0 0 1em 0;
  width: 6.25em;
}

#sidebar a {
  color: #eeeeee;
}

#sidebar a:hover {
  color: #49bf9e52;
}

#sidebar .fa-github {
  margin-right: 20px;
}

#topbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
}

#topbar li {
  float: left;
}

#topbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 14px 6px 10px;
  text-decoration: none;
}

#topbar .image.avatar {
  margin: -4px 0 0 0;
  width: 4em;
}

#topbar {
  display: none;
}

#top {
  margin-top: -8px;
}

#main {
  margin-top: 8px;
  margin-left: 32%;
  padding: 8em 4em 4em 4em;
  width: 62%;
  background-color: #ffffff;
}

#main > section {
  border-top: solid 1px #efefef;
  margin-bottom: 4em;
  padding-top: 4em;
}

#main > section:first-child {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}

#project-header {
  padding-bottom: 1em;
}

.project {
  margin: 0 0 3em 0;
  padding-bottom: 3em;
}

.project .image {
  margin: 0 0 1.5em 0;
}

.project h3 {
  font-size: 1em;
}

.project p {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
}

form {
  margin: 0 0 2em 0;
}

/* input style from html5up */

input[type='text'],
input[type='email'],
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: #f7f7f7;
  border-radius: 0.35em;
  border: solid 2px transparent;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 0.75em;
  text-decoration: none;
  width: 100%;
}

input[type='text']:invalid,
input[type='email']:invalid,
textarea:invalid {
  box-shadow: none;
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
  border-color: #777;
}

input[type='text'],
input[type='email'] {
  height: 2.75em;
}

textarea {
  padding: 0.75em;
}

::-webkit-input-placeholder {
  color: #b2b2b2 !important;
  opacity: 1;
}

:-moz-placeholder {
  color: #b2b2b2 !important;
  opacity: 1;
}

::-moz-placeholder {
  color: #b2b2b2 !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #b2b2b2 !important;
  opacity: 1;
}

.formerize-placeholder {
  color: #b2b2b2 !important;
  opacity: 1;
}

input[type='submit'],
input[type='button'],
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 0.35em;
  border: solid 3px #efefef;
  color: #787878 !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  height: 3.15em;
  height: calc(2.75em + 6px);
  line-height: 2.75em;
  min-width: 10em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

input[type='submit']:hover,
input[type='button']:hover,
.button:hover {
  border-color: #499abf;
  color: #499abf !important;
}

input[type='submit']:active,
input[type='button']:active,
.button:active {
  background-color: rgba(73, 191, 157, 0.1);
  border-color: #499abf;
  color: #499abf !important;
}

input[type='submit'].icon,
input[type='button'].icon,
.button.icon {
  padding-left: 1.35em;
}

input[type='submit'].icon:before,
input[type='button'].icon:before,
.button.icon:before {
  margin-right: 0.5em;
}

input[type='submit'].fit,
input[type='button'].fit,
.button.fit {
  display: block;
  margin: 0 0 1em 0;
  min-width: 0;
  width: 100%;
}

input[type='submit'].small,
input[type='button'].small,
.button.small {
  font-size: 0.8em;
}

input[type='submit'].big,
input[type='button'].big,
.button.big {
  font-size: 1.35em;
}

input[type='submit'].special,
input[type='button'].special,
.button.special {
  background-color: #499abf;
  border-color: #499abf;
  color: #ffffff !important;
}

input[type='submit'].special:hover,
input[type='button'].special:hover,
.button.special:hover {
  background-color: #5cc6a7;
  border-color: #5cc6a7;
}

input[type='submit'].special:active,
input[type='button'].special:active,
.button.special:active {
  background-color: #3eb08f;
  border-color: #3eb08f;
}

input[type='submit'].disabled,
input[type='button'].disabled,
.button.disabled,
.button:disabled {
  background-color: #e7e7e7 !important;
  border-color: #e7e7e7 !important;
  color: #b2b2b2 !important;
  cursor: default;
}

/* end input style from html5up */

footer {
  border-top: solid 1px #efefef;
  padding-top: 4em;
  color: #c0c0c0;
  font-size: 0.8em;
}

.bold {
  font-weight: bold;
  padding-right: 0.5em;
}

@media screen and (max-width: 1400px) {
  #main {
    margin-left: 32%;
    padding: 8em 4em 4em 4em;
    width: 63%;
  }
}

@media screen and (max-width: 980px) {
  #main {
    margin-left: 33%;
    padding: 8em 4em 4em 4em;
    width: 64%;
  }
}

@media screen and (max-width: 920px) {
  #main {
    margin-left: 34%;
    padding: 8em 4em 4em 4em;
    width: 65%;
  }
}

@media screen and (max-width: 880px) {
  #main {
    margin-left: 34%;
    padding: 8em 4em 4em 4em;
    width: 65%;
  }
}

@media screen and (max-width: 820px) {
  #sidebar {
    display: none;
  }
  #topbar {
    position: fixed;
    display: initial;
    z-index: 1;
  }
  #main {
    margin: 8px 0 0 0;
    width: 100%;
    padding: 20% 10% 10% 10%;
  }
  /* .thumb {
    z-index: 0;
  } */
}

@media screen and (max-width: 560px) {
  #main {
    padding: 25% 8% 15% 8%;
  }
}

@media screen and (max-width: 440px) {
  #main {
    padding: 30% 6% 20% 6%;
  }
}

@media screen and (max-width: 404px) {
  .image.thumb img {
    width: 100%;
  }
}
